<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default navbar-static-top">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style="margin-right:10px;"><a class="nav-link" routerLink="/pdfjs">jsPDF</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pdfjs-v2">jsPDF V2</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pdfjs-v3">jsPDF V3</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pdf-drf">PDF Dynamic Reactive Forms</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pdfmake">pdfmake</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/kendo">kendo</a></li>
    </ul>
  </div>
</nav>
